body{
  max-width: 960px;
  margin: auto;
  margin-top: 50px;
  background-color: #0C0C0A;
}

fieldset{
  text-align: center;
  border-color: #000000;
}

.mana-selection{
  background-image: url("mana.jpg");
  background-repeat: no-repeat;
}

.class-selection{
  background-image: url("classes.jpg");
  background-repeat: no-repeat;
}

.set-selection{
  background-image: url("set.jpg");
  background-repeat: no-repeat;
}
mat-option{
  margin-top: 30px;
  font-size: 30px;
  font-family: fantasy;
  font-weight: lighter;
  text-shadow: 3px 3px #000000, -1px 1px #272A2C, 1px -1px #272A2C, -1px -1px #272A2C;
  color: #D5D5D5;
}

mat-select{
  margin-bottom: 30px;
}

.buttons{
  text-align: center;
}

.btn{
  font-size: 22px;
  margin-top: 15px;
}
