<div class="col-md-8">
    <fieldset>
        <mat-select [(ngModel)]="selectedManaCost" name="set">
            <mat-option *ngFor="let manaCost of manaCostList" [value]="manaCost.value">
              {{manaCost.name}}
            </mat-option>
          </mat-select>
    </fieldset>
</div>
<div class="col-md-8">
    <fieldset>
        <mat-select [(ngModel)]="selectedPlayerClass" name="set">
            <mat-option *ngFor="let playerClass of playerClassList" [value]="playerClass.value">
              {{playerClass.name}}
            </mat-option>
          </mat-select>
    </fieldset>
</div>
<div class="col-md-8">
    <fieldset>
        <mat-select [(ngModel)]="selectedSet" name="set">
            <mat-option *ngFor="let set of setList" [value]="set.value">
              {{set.name}}
            </mat-option>
          </mat-select>
    </fieldset>
</div>

<button mat-button  (click) = "onSubmit()">Filter</button>
